@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,700,600);

body {
	width: 60em;
	margin: 0 auto;
	font-family: "Source Sans Pro", Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

h3 { margin: 1em 0 3px 0; font-weight: 600; display: inline; }

.list { width: 400px; border-spacing: 1px; border-padding: 0; }
.list td { padding: 5px 0.5em; vertical-align: top; }
.list td:first-child { width: 40px; text-align: right;}
.list td:nth-child(3) { width: 80px; }
.list td a { text-decoration: none; }
.list td:first-child a { font-weight: 600; }
.list td:nth-child(2) { text-align: right; }
.list h5 { margin: 0; padding: 0; font-weight: normal; text-align: left; font-size: 100%; }

.list .exploitable h5 { font-weight: 600; }
.list .exploitable td:first-child a { font-weight: 700; }

.scheme-temp .temp-cold          td { background-color: #ffffcc; } 
.scheme-temp .temp-tepid         td { background-color: #ffffbb; } 
.scheme-temp .temp-warm          td { background-color: #ffddaa; } 
.scheme-temp .temp-hot           td { background-color: #ffccaa; } 
.scheme-temp .temp-burning       td { background-color: #ffbbbb; } 

.scheme-goal .goal-clarification td { background-color: #ffddff; } 
.scheme-goal .goal-modification  td { background-color: #ffffbb; } 
.scheme-goal .goal-verification  td { background-color: #bbddff; } 
.scheme-goal .goal-publication   td { background-color: #bbffcc; } 

.scheme-status .status-unsolved  td { background-color: #eeeeee; } 
.scheme-status .status-absolved  td { background-color: #ddbbcc; } 
.scheme-status .status-resolved  td { background-color: #ffffbb; } 
.scheme-status .status-dissolved td { background-color: #aaffcc; } 

.scheme-motive .motive-defect    td { background-color: #ffccbb; } 
.scheme-motive .motive-proposal  td { background-color: #ccddff; } 
.scheme-motive .motive-intention td { background-color: #ffffbb; } 
.scheme-motive .exploitable      td { background-color: #ffbbbb; } 

