@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,700,600);

body, input, select {
	margin: 0;
	font-family: "Source Sans Pro", Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

h1 { margin: 0; padding: 0; font-weight: 700; font-size: 100%; }
h3 { margin: 1em 0 3px 0; font-weight: 600; display: inline; }

.footer { clear: left; border-top: 1px solid #bbb; padding-top: 15px; }
.column { width: 400px; float: left; margin-left: 20px; }
@media (max-width:430px){
	body .column { width: 100%; margin: 0; }
	h2, h3 { padding-left: 0.5em; }
	body a.btn { display: none; }
}

.list { width: 100%; border-spacing: 1px; border-padding: 0; margin-bottom: 20px; }
.list td { padding: 5px; vertical-align: top; }
.list td:first-child { width: 15%; }
.list td:nth-child(3) { width: 20%; }
.list td a { text-decoration: none; }
.list td:first-child a { font-weight: 600; }
.list td:nth-child(2) { text-align: right; }
.list h5 { margin: 0; padding: 0; font-weight: normal; text-align: left; font-size: 100%; }

.list .exploitable h5 { font-weight: 600; }
.list .exploitable td:first-child a { font-weight: 700; }

.form.list td:nth-child(2) { text-align: left; }
.form.list input[type=text] { background-color: transparent; border-width: 0; border-bottom: 1px dashed black; display: block; width: 100%; margin-bottom: 4px;  }
.form.list select { width: 100%; } 

a.btn { border-radius: 8px; display: inline-block; line-height: 16px; height: 16px; width: 16px; text-align: center;  }
a.btn:hover { background-color: white; color: red; }
a.idn { float: right; }
a.stress { clear: right; }

/* We do this ob two levels to be able to render all actual propeties an chose by the scheme what is used */
.scheme-heat .heat-cold          td { background-color: #eeeeff; } 
.scheme-heat .heat-tepid         td { background-color: #ffffbb; } 
.scheme-heat .heat-warm          td { background-color: #ffeeaa; } 
.scheme-heat .heat-hot           td { background-color: #ffddaa; } 
.scheme-heat .heat-burning       td { background-color: #ffccaa; } 

.scheme-goal .goal-clarification td { background-color: #ffddff; } 
.scheme-goal .goal-modification  td { background-color: #ffffbb; } 
.scheme-goal .goal-verification  td { background-color: #ddddff; } 
.scheme-goal .goal-publication   td { background-color: #ddffcc; } 

.scheme-status .status-unsolved    td { background-color: #eeeeff; } 
.scheme-status .status-absolved    td { background-color: #ffffbb; } 
.scheme-status .status-resolved    td { background-color: #ddddff; } 
.scheme-status .status-dissolved   td { background-color: #ddffcc; } 

.scheme-motive .motive-defect      td { background-color: #ffddcc; } 
.scheme-motive .motive-proposal    td { background-color: #ddddff; } 
.scheme-motive .motive-intention   td { background-color: #ffffbb; } 

.menu { border-bottom: 1px solid #bbb; margin: 0; padding: 2px 20px; }
.menu * { display: inline-block; }
.menu .group { font-weight: 600; width: 80px; text-align: right; margin-right: 1em; }
.menu ul { padding: 0; margin: 0; }
.menu li { margin-left: 0; }
.menu li + li:before { content: "\2022"; margin: 0 0.5em; }
.menu a { text-decoration: none; }
.menu a:hover { text-decoration: underline; }

.legend { width: 25%; border-spacing: 1px; border-padding: 0; text-align: center; float: left; }
.legend td { padding: 3px; font-style: italic; }
.legend th { font-weight: 600; }

select { float: right; }
